
.pizza-jumbotron {
    background-image: url("../img/pizza.png");
    width: 100%;
}
.pizza-box {
    padding: 0;
    margin: auto;
    width: 100%;
}

.pizza-jumbotron h1 {
    opacity:.5;
    width:100%;
    text-align: center;
    color:black;
    background-color: whitesmoke;
}
.badge-secondary{
    border-radius:50%;
}