
.jumbotron{
    background-image: url("../img/pizza.png");
    width: 100%;
}
.container-fluid{
    padding: 0;
    margin: auto;
    width: 100%;
}

.display-4{
    opacity:.5;
    width:100%;
    text-align: center;
    color:black;
    background-color: whitesmoke;
}
.badge-secondary{
    border-radius:50%;
}