/* CSS */
.container {
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
}
.row {
    width:100%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
.column {
    float: left;
    padding: 10px;
    border: 2px solid white;
    box-sizing: border-box;
    width: 8.33%;
}
.full,
.two-thirds,
.one-half,
.one-third,
.one-fourth,
.one-sixth,
.one-eighth,.column{
    width:100%;
}
img {max-width:100%}

@media screen and (min-width:760px){
    .two-thirds {width:66.66666%;}
    .one-half {width:50%;}
    .one-third {width:33.33333%;}
    .one-fourth {width:25%;}
    .one-sixth {width:16.66666%;}
    .one-eighth {width:12.5%;}
    .one-half-offset {
        margin-left:50%;
    }
}



/*.column.one-half {*/
    /*width: 50%;*/
/*}*/
/*.column.one-third {*/
    /*width: 33.33%;*/
/*}*/
/*.column.one-quarter {*/
    /*width: 25%;*/
/*}*/
/*.column.one-fifth {*/
    /*width: 20%;*/
/*}*/
/*.column.one-sixth {*/
    /*width: 16.66%;*/
/*}*/
/*.column.one-eighth {*/
    /*width: 12.5%;*/
/*}*/
/*.column.one-twelfth {*/
    /*width: 8.33%;*/
/*}*/
/*!* Screen Responsiveness challenge: to have a layout with columns that take up*/
/*a certain amount of width on larger screen sizes, but that take up the full width*/
/*on smaller screen sizes.*!*/

/*@media screen and (max-width:768px) { !*this sets the max width of the screen*!*/
    /*.column.one-third, !*This designates which selectors (columns) are affected*!*/
    /*.column.one-half {*/
        /*width:100%; !*This designates the CSS to override everything and make the*/
        /*columns width 100%*!*/
    /*}*/
/*}*/