/*navbar*/

.navItems {
    list-style-type: none;
    margin: 0 auto;
    padding: 0 auto;
    overflow: hidden;
    background-color: #333;
}

.navListItems {
    float: left;
}

.navListItems a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navListItems a:hover {
    background-color: white;
    color: crimson;
}




/*navbar*/


/*main*/

h1{
    text-align: center;
}

hr{
    width: 100%;
}
img {
    border-radius: 50%;
    width: 30%;
    height: 30%;
}
.button {
    border: none;
    background-color: crimson;
    color: white;
    padding: 15px 32px;
    margin: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#homepage{
    width: 80%;
    margin: auto;
    text-align: center;
}
/**/


/*ABOUT.HTML*/

#aboutMe{

    width: 80%;
    margin: auto;
    text-align: center;

}



/**/

/*RESUMECV*/





.icon{
    font-size: 4em;
}
