body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
.message-info{
    background-color: #add8e6;

}
/*.message message-success{}*/
/*.message message-warning{}*/
/*.message message-error{}*/

/*var bg-info*/
/*var text-info*/
/*var bg-success*/
/*var text-success*/
/*var bg-warning*/
/*var text-warning*/
/*var bg-error*/
/*var text-error*/