body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
.message-info{
    color: #5858a8;
    background-color: #cedffe;
    margin: .5em;
    padding: .5em;
    border: solid #d3d3d3 thin;
    border-radius: .5em;
}
.message-success{
    color: #428a5e;
    background-color: #d0f3db;
    margin: .5em;
    padding: .5em;
    border: solid #d3d3d3 thin;
    border-radius: .5em;
}
.message-warning{
    color: #9b8a39;
    background-color: #fcfacb;
    margin: .5em;
    padding: .5em;
    border: solid #d3d3d3 thin;
    border-radius: .5em;
}
.message-error{
    color: #8f3249;
    background-color: #f9d3d8;
    margin: .5em;
    padding: .5em;
    border: solid #d3d3d3 thin;
    border-radius: .5em;
}

/*var bg-info*/
/*var text-info*/
/*var bg-success*/
/*var text-success*/
/*var bg-warning*/
/*var text-warning*/
/*var bg-error*/
/*var text-error*/

/*body{background-color: orange}*/