body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
.message message-info{
    color: black;
    background-color: lightblue;
    margin: 1em;
    width: 1em;
    height: 1em;
    display: inline-block;
}
/*.message message-success{}*/
/*.message message-warning{}*/
/*.message message-error{}*/

/*var bg-info*/
/*var text-info*/
/*var bg-success*/
/*var text-success*/
/*var bg-warning*/
/*var text-warning*/
/*var bg-error*/
/*var text-error*/