body {
    background-image: url("../img/artificial-intelligence-background-11.jpg");
    width: 1280px;
    height: 914px;
    color: blanchedalmond;
}
#top {
    text-align: center;
}
h1 {
    color:blanchedalmond
}
h2 {
    color:blanchedalmond
}
